.containerOne {
  color: white;
}

.containerGrid {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: 120px repeat(5, 80px);
  grid-gap: 10px;
}

.containerDisplay {
  background: white;
  color: black;
  border-radius: 8px;
  text-align: right;
  font-size: 48px;
  grid-column-end: span 4;
  padding: 30px 24px;
  font-weight: bold;
}
