@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  box-sizing: border-box;
  font-family: 'Cutive Mono', monospace;
  background: black;
  padding: 0;
  margin: 0;
}
